AddProduct.css

div {
    margin: 10px;
  }
 
  
  form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea,
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  
.stock-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .stock-select option {
    font-size: 14px;
    padding: 8px;
    background-color: white; 
  }

  .stock-select option:checked {
    background-color: #e6f7ff; 
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  